/* stylelint-disable no-descending-specificity */

.aihero-wrapper {
  background: var(--yellow);
}

.aihero {
  display: flex;
  padding: 0 10px;

  > div {
    display: flex;

    @media (width < 600px) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }

    > div {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (width < 600px) { width: 100vw }
    }

    /* left column */
    div:first-child {
      @media (width < 600px) {
        background: #fff;
        padding: 80px 0 40px;
      }

      img  {
        width: 24vw;
        max-width: 290px;
        min-width: 180px;
      }

      h1 {
        color: var(--black);
        margin: 0;
        font-size: clamp(2rem, 4vw, 2.7rem);
        line-height: 1em;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    /* right column */
    div:last-child {
      padding-top: 4rem;
      width: 60%;

      @media (width < 600px) { width: 80% }

      img {
        margin-bottom: -24px;
      }
    }
  }
}
