footer {
  background: var(--background);
  font-size: var(--body-font-size-s);
  line-height: 30px;
  font-weight: 500;
  border-top: 8px solid #c4c4c4;
  padding: 40px 20px;
  margin-top: 160px;

  @media (width < 1024px) {
    text-align: center;
    padding: 0 40px;
  }

  p {
    margin: 30px 0 0 !important;

    a {
      text-decoration: underline !important;

      &::after {
        content: "|";
        padding-left: 0.5rem;
      }
      &:last-child::after { content: "" }
    }
  }

  .aicolumns > div  {
    height: 100%;
    align-items: flex-start;
    .cols-2 & > div { width: auto }

    @media (width < 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .button-container {
    p{ margin: 0 !important }

    /* overwrite default button styles */
    a.button {
      background: transparent;
      justify-content: flex-start;
      min-width: 180px;
      border: 0;

      &::after {
        content: "";
        padding: 0;
      }

      img {
        width: 100px;
        height: auto;
      }

      &:hover, &:focus {
        background: transparent
      }
    }
  }
}



