
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  --yellow: #ffcb05;
  --red: #f15d53;
  --teal: #505050;
  --text-color: #424242;
  --link-color: var(--text-color);
  --link-hover-color: #1d3ecf;
  --body-font-family: "Montserrat", "Montserrat Fallback", "sans-serif";
  --heading-font-family: "Aleo", "Aleo Fallback", "serif";
  --body-font-size-m: 18px;
  --body-font-size-s: 14.94px;
  --body-font-size-xs: 12.06px;
  --heading-font-size-xxl: 44px;
  --heading-font-size-xl: 32px;
  --heading-font-size-l: 20px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 14.94px;
  --heading-font-size-xs: 12.06px;

  /* sizes */
  --nav-height: 64px;
  --page-width: 1200px;
}

/* fallback fonts */
@font-face {
  font-family:"Aleo Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:94.34%;
  descent-override:30.75%;
  line-gap-override:0.00%;
  size-adjust:95.93%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:900;
  src:local("Arial Bold");
  ascent-override:97.15%;
  descent-override:24.19%;
  line-gap-override:0.00%;
  size-adjust:99.72%;
}

@font-face {
  font-family:"Montserrat Fallback";
  font-style:normal;
  font-weight:500;
  src:local("Arial");
  ascent-override:87.85%;
  descent-override:22.78%;
  line-gap-override:0.00%;
  size-adjust:110.19%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:89.79%;
  descent-override:22.36%;
  line-gap-override:0.00%;
  size-adjust:107.89%;
}

@font-face {
  font-family:"Montserrat Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:95.04%;
  descent-override:24.64%;
  line-gap-override:0.00%;
  size-adjust:101.85%;
}

@font-face {
  font-family:"Montserrat Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:87.85%;
  descent-override:22.78%;
  line-gap-override:0.00%;
  size-adjust:110.19%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:800;
  src:local("Arial Bold");
  ascent-override:97.15%;
  descent-override:24.19%;
  line-gap-override:0.00%;
  size-adjust:99.72%;
}

@font-face {
  font-family:"Aleo Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:87.19%;
  descent-override:28.42%;
  line-gap-override:0.00%;
  size-adjust:103.79%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:500;
  src:local("Arial");
  ascent-override:89.79%;
  descent-override:22.36%;
  line-gap-override:0.00%;
  size-adjust:107.89%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:97.15%;
  descent-override:24.19%;
  line-gap-override:0.00%;
  size-adjust:99.72%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:600;
  src:local("Arial Bold");
  ascent-override:97.15%;
  descent-override:24.19%;
  line-gap-override:0.00%;
  size-adjust:99.72%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:200;
  src:local("Arial");
  ascent-override:89.79%;
  descent-override:22.36%;
  line-gap-override:0.00%;
  size-adjust:107.89%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:300;
  src:local("Arial");
  ascent-override:89.79%;
  descent-override:22.36%;
  line-gap-override:0.00%;
  size-adjust:107.89%;
}

@font-face {
  font-family:"Inter Fallback";
  font-style:normal;
  font-weight:100;
  src:local("Arial");
  ascent-override:89.79%;
  descent-override:22.36%;
  line-gap-override:0.00%;
  size-adjust:107.89%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 18px;
    --body-font-size-s: 14.94px;
    --body-font-size-xs: 12.06px;
    --heading-font-size-xxl: 44px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 20px;
    --heading-font-size-m: 18px;
    --heading-font-size-s: 14.94px;
    --heading-font-size-xs: 12.06px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}


/* center align all blocks by default */
div[class*="-wrapper"] > div {
  margin: auto;
  width: var(--page-width);

  > div {
    width: 100%;
  }
}



@media (width>=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}


.section.hidden {
  display: none;
}



/* leverage word for table/div alignment */
div[data-align], div[data-valign] { display: flex }

/* Horizontal alignment */
[data-align="left"] { justify-content: flex-start }
[data-align="center"] { justify-content: center }
[data-align="right"] { justify-content: flex-end }

/* Vertical alignment */
[data-valign="top"] { align-items: flex-start }
[data-valign="middle"] { align-items: center }
[data-valign="bottom"] { align-items: flex-end }

