.aidefaultcontent-wrapper {
  background: var(--theme-clr-bg);
  color: var(--theme-clr-txt);
}

.aidefaultcontent {
  padding: 0 32px;

  ul {
    font-weight: 500;
    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 1rem;
      padding-left: 1.5rem;

      &::before {
        content: "";
        display: inline-block;
        width: .75rem;
        height: .75rem;
        background-color: var(--red);
        border-radius: 50%;
        margin-right: 0.75rem;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }
}

